nav {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 10em;
}

#logo {
  max-height: 2em;
  width: auto;
}

.nav-links {
  display: flex;
  align-items: center;

  list-style: none;
}

.nav-links li {
  padding: 0 2em;
}

.nav-links li:nth-child(7) a {
  display: flex;
  align-items: center;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 300ms ease;
}

.nav-links li:hover a {
  color: var(--clr-gold);
}

.search-btn {
  max-height: 1em;
  width: auto;
}
