.sub-section {
  min-height: 80vh;
  width: 100%;
  display: flex;
  margin-bottom: 0.5em;
}

.sub-section > * {
  flex-basis: 100%;
  text-align: center;
}

.sub-section h1 {
  color: var(--clr-gold);
  font-size: 3rem;
  font-family: var(--font-head);
}

.sub-section h2 {
  color: white;
}

.bts-meal,
.mcflurry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2em 0;
}

.bts-text,
.mcflurry-text {
  padding-bottom: 1em;
}

.bts-meal {
  margin: 0 0.25em 0 0.5em;
  background: url("../img/bts-meal-bg.jpg");
  background-position: center;
  background-size: cover;
}

.mcflurry {
  margin: 0 0.5em 0 0.25em;
  background: url("../img/mcflurry-bg.jpeg");
  background-position: center;
  background-size: cover;
}

.sub-section img {
  max-height: 50vh;
  width: auto;
}
